[tool.poetry]
name = "preacher"
version = "0.14.7"
description = "A web API verification tool."
authors = ["Yu Mochizuki <ymoch.dev@gmail.com>"]
readme = "README.md"
homepage = "https://preacher.readthedocs.io/"
repository = "https://github.com/ymoch/preacher"
license = "MIT"
classifiers = [
  "Development Status :: 4 - Beta",
  "Environment :: Console",
  "Topic :: Software Development :: Testing",
  "Topic :: System :: Monitoring"
]

[tool.poetry.scripts]
preacher-cli = "preacher.app.cli.main:main"

[tool.poetry.dependencies]
python = "^3.7"
aniso8601 = "^8.0"
pyhamcrest = "^2.0"
pyjq = "^2.3"
requests = "^2.21"
lxml = "^4.4"
colorama = "^0.4.1"
jinja2 = "^2.10"
six = "^1.14.0"  # HACK: Should be removed after: https://github.com/doloopwhile/pyjq/issues/43
pyyaml = "^5.3.1"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
pytest-mock = "^3.1.1"
pytest-flake8 = "^1.0.6"
pytest-mypy = "^0.6.2"
pytest-cov = "^2.6"
sphinx = "^3.1.1"
sphinx-intl = "^2.0"
sphinx-autobuild = "^0.7.1"
tomlkit = "^0.6.0"
flask = "^1.1.2"

[build-system]
requires = ["poetry>=1.0"]
build-backend = "poetry.masonry.api"
